.art-column {
    background-color: white;
    display: grid;
    font-size: 0.5em;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 0.2rem;
    position: relative;
}
  
.art-column:hover {
    cursor: pointer;
}

.art-summary {
    background-color: white;
    padding: 0 1.5rem 3rem 1rem;
}
  
.art-summary:hover {
    background-color: hsl(51, 100%, 50%);
}

.art-summary > h1 {
    color: #000;
    margin-bottom: 0.35em;
}

.art-summary > p {
    font-size: 1rem;
    font-weight: 200;
    margin: 0;
}
