.landing-image, .landing-image img {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.art-details {
    background-color: #f0f0f0;
    flex: 0 1 66.666666%;
    height: 100vh;
    overflow-y: scroll;
}

.art-detail {
    display: flex;
    min-height: 100vh;
    padding: 3rem 0 0 0;
    width: 100%;
}

.detailed-info {
    display: flex;
    flex: 1 0 40%;
    flex-flow: column nowrap;
    padding: 0 0.5rem;
}

.title-h3 {
    color: #000;
    margin: 1rem 0 0 0;
    padding-top: 1rem;
}

.piece-title, .art-description, .label-text, .art-credit {
    font-weight: 400;
}

.details-h3 {
    color: #000;
    margin: 0;
    padding-top: 1rem;
}

.piece-title {
    margin: 0.5rem 0 1rem 0;
}

@media only screen
    and (min-width: 320px)
    and (max-width: 765px)
    and (orientation: portrait) {
        
        .art-details {
            display: none;
        }
    }

    @media only screen 
    and (min-width: 375px)
    and (max-width: 823px)
    and (orientation: landscape) {

        .art-detail {
            padding: 2.2em 0 0 0;
        }

        .title-h3 {
            margin-top: 0.5em;
            padding-top: 0;
        }

        .piece-title {
            font-size: 0.8em;
            margin: 0.5em 0 0 0;
        }

        .details-h3 {
            margin: 1em 0 0 0;
            padding: 0;
        }

        .label-text {
            font-size: 0.8em;
            margin: 1em 0 0 0;
        }

        .art-credit {
            font-size: 0.8em;
            font-weight: 600;
        }
    }
