.art-list {
  background-color: #f0f0f0;
  flex: 1 0 33.333333%;
  height: 100vh;
  overflow-y: scroll;
  padding: 5rem 0 0.2rem 0;
  position: relative;
}

.art-list-show-states {
  display: flex;
  justify-content: center;
  margin: 1.9rem 0 0 0;
  position: fixed;
  top: 2rem;
  width: 32.9%;
  z-index: 10;
}

.art-list-show-state {
  background-color: #ccc;
  cursor: pointer;
  flex-basis: 50%;
  flex-grow: 1;
  font-size: 0.75rem;
  letter-spacing: 0.3rem;
  margin: 0 0 0.1rem;
  padding: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

.art-list-show-state:hover {
  background-color: hsl(51, 100%, 50%);
}

@media only screen
    and (min-width: 320px)
    and (max-width: 765px)
    and (orientation: portrait) {

      .art-list {
        padding: 4.1em 0 0 0;
      }

      .art-list-show-states {
        margin: 0;
        width: 95.6%;
        top: 3em;
      }

    }
