.header {
    border-bottom: 1px solid #d3d3d3;
    /* position: fixed;
    top: 0;
    z-index: 10; */
}

nav {
    align-items: baseline;
    display: flex;
    font-family: "Helvetica Neue", sans-serif;
    justify-content: space-between;
    padding: 0 15px;
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    margin: 0.5rem 2rem; 
    padding: 0 5px;
}

h3 {
    margin: 0 2rem;
}


