.header {
    border-bottom: 1px solid #d3d3d3;
}

nav {
    align-items: baseline;
    display: flex;
    font-family: "Helvetica Neue", sans-serif;
    justify-content: space-between;
    padding: 0 15px;
    text-decoration: none;
}

h1 {
    font-size: 2rem;
    margin: 0.5rem; 
    padding: 0 5px;
}

h4 {
    font-style: italic;
    margin: 0 20rem 0 0;
}

p {
    font-size: 0.9rem;
    margin: 0;
    text-transform: uppercase;
}
