*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

html,
body,
#root {
  height: 100%;
  /* overflow: hidden; */
}

img {
  display: block;
  max-width: 100%;
}

figure {
  margin: 0;
}

.art-library {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: stretch;
  justify-content: space-around;
}

.art-list {
  position: relative;
  flex: 1 0 33.333333%;
  height: 100%;
  padding: 0.1em 0 0;
  overflow-y: scroll;
  background-color: #f0f0f0;
}

.art-details {
  flex: 0 1 66.666666%;
  background-color: #f0f0f0;
}

.art-column {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 3fr;

  margin-bottom: 0.2rem;
  font-size: 0.5em;
  background-color: white;
}

.art-column:hover {
  cursor: pointer;
}

.art-summary {
  padding: 0.5em 1.5em;
  background-color: white;
}

.art-summary > h1 {
  margin-bottom: 0.35em;
}

.art-summary > p {
  font-size: 1.6em;
  line-height: 1.35;
  font-weight: 200;
  margin-top: 0;
}
