*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

img {
  display: block;
  max-width: 100%;
}

figure {
  margin: 0;
}

.art-library {
  align-items: stretch;
  display: flex;
  height: 100%;
  justify-content: space-around;
  position: relative;
  width: 100%;
}

.art-list {
  background-color: #f0f0f0;
  flex: 1 0 33.333333%;
  height: 100vh;
  overflow-y: scroll;
  padding: 4.7em 0 0.2em 0;
  position: relative;
}

.art-details {
  background-color: #f0f0f0;
  flex: 0 1 66.666666%;
  height: 100vh;
}

.art-column {
  background-color: white;
  display: grid;
  font-size: 0.5em;
  grid-template-columns: 1fr 3fr;
  margin-bottom: 0.2rem;
  position: relative;
}

.art-column:hover {
  cursor: pointer;
}

.art-column-like {
  background-color: transparent;
  bottom: 0;
  height: 3.5rem;
  padding: 0 2.5em;
  position: absolute;
  right: 0;
  transition: all 0.1s linear;
}

.art-column-like.favorite {
  color: red;
}

.art-summary {
  background-color: white;
  padding: 0.25rem 1.5rem 0.25rem 1rem;
}

.art-summary > h1 {
  color: #000;
  margin-bottom: 0.35em;
}

.art-summary > p {
  font-size: 1rem;
  font-weight: 200;
  margin-top: 0;
}

.art-list-show-states {
  display: flex;
  justify-content: center;
  margin: 1.9rem 0 0 0;
  position: fixed;
  top: 1.6em;
  width: 33%;
  z-index: 10;
}

.art-list-show-state {
  background-color: #ccc;
  cursor: pointer;
  flex-basis: 50%;
  flex-grow: 1;
  font-size: 0.75em;
  letter-spacing: 0.3em;
  margin: 0 0 0.1em;
  padding: 0.5em;
  text-align: center;
  text-transform: uppercase;
}

.art-list-show-state:hover {
  background-color: hsl(51, 100%, 50%);
}

.art-detail {
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  padding: 3rem 0 0 0;
  width: 100%;
}

.large-image {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
}

.piece-title, .art-description, .label-text {
  font-weight: 400;
}

.detailed-info {
  display: flex;
  flex: 1 0 40%;
  flex-flow: column nowrap;
  padding: 0 0.5rem;
}

.title-h3 {
  color: #000;
  margin: 1rem 0 0 0;
  padding-top: 1rem;
}

.details-h3 {
  color: #000;
  margin: 0;
  padding-top: 1rem;
}

.detailed-info > h4 {
  margin: 0.5rem 0 1rem 0;
}

.art-credit {
  font-weight: 400;
}
