*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

html,
body,
#root {
  height: 100%;
  /* overflow: hidden; */
}

img {
  display: block;
  max-width: 100%;
}

figure {
  margin: 0;
}

.art-column {
  position: relative;
  flex: 1 0 33.333333%;
  height: 100%;
  padding: 1em 0 0;
  overflow-y: scroll;
  background-color: #f0f0f0;
}
